My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0515e8cb-6a3f-4920-9588-628d12056421",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "PzUJxz7WaQ6gd1Yv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=YOU ARE AN INTELLIGENT MODEL READ THIS SUMMARY AND TRY DRAFTING A REPLY\n{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ee9740da-2223-4625-813a-b661b85aeb34",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "d4154aac-f5b6-4109-90a9-0074b14e2a2a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CreBCdGaZnoDxTFg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "varunmekala2007@gmail.com",
        "subject": "Hello World!",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "39cd61d8-dd64-49e3-9183-e11d44761392",
      "name": "Send a message",
      "webhookId": "98d9a0ed-61d8-4bed-971a-4081a44ff90d",
      "credentials": {
        "gmailOAuth2": {
          "id": "PzUJxz7WaQ6gd1Yv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e28ff277-835f-4856-9c3f-f080206a3958",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94947e1d8cce459206db0564b45ba9690f45d858d716dc00e35412eb37aa8b71"
  },
  "id": "jV6HKVVWDPkp185X",
  "tags": []
}